@model IEnumerable<Categore>
@{
    ViewData["Title"] = "Categore Page";
}
<div class="container p-3 bg-body-secondary">
    <partial name="_Notifications" />
    <div class="row pt-4">
        <div class="col-6"><h2>Items View</h2></div>
        <div class="col-6 text-end "><a asp-controller="Categore" asp-action="New" class="btn btn-dark"> <i class="bi bi-plus-circle-fill"></i>&nbsp; Add New Item</a></div>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Img</th>
                <th scope="col"></th>
                <th scope="col"></th>

            </tr>
        </thead>
        <tbody>
            @if (Model == null)
            {
                <tr>
                    <td colspan="2">No items found.</td>
                </tr>
                return;
            }
            @foreach (var categore in Model)
            {
                <tr class="table-dark">
                    <td scope="row" width="30%">@categore.Name</td>
                    <td scope="row"><img src="@categore.ImgSRC" style="width:48px" class="img-thumbnail" /></td>
                    <td scope="row"><a asp-controller="Categore" asp-action="Edit" asp-route-id="@categore.Id" class="btn btn-sm btn-success"><i class="bi bi-pencil-fill"></i></a></td>
                    <td scope="row"><a asp-controller="Categore" asp-action="Delete" asp-route-id="@categore.Id" class="btn btn-sm btn-primary"><i class="bi bi-trash3-fill"></i></a></td>

                </tr>
            }

        </tbody>
    </table>
</div>

